:root {
    --primary-color: #f4f4f4;
    --secondary-color: #4444;
    --btn-color: 'green';
    --main-bg: #f4f4f4;
  }

  body{
    font-family: 'Muli', sans-serif!important;
    background: var(--main-bg)!important;
  }